/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/desert-sun-day-4k-minimalism.jpg');
  background-size: auto 100vh;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

/*telas maiores que 400px*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/*breakpoint 600px*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/*breakpoint 1200px*/
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: orange;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}


.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s;
}
.menu a:active,
.menu a:hover {
  background-color: grey;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'Patua One', cursive;
}

.site-subtitle {
  font-style: italic;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  background-color: gray;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .sobre,
  .contato,
  .portfolio {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre .avatar {
  float: right;
  margin-left: 2em;
}

.sobre .avatar img {
  clip-path: polygon(25% 0%, 100% 0%, 76% 100%, 0% 100%);
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Patua One', cursive;
  color: whitesmoke;
  margin-bottom: 1.2em;
  font-size: 2em;
}

.sobre p {
  color: white;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
}

@media (min-width: 600px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    height: calc(100vh - 8em -48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 260px;
  object-fit: cover;
  object-position: left;
  border-radius: 0%;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2);
}


.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  background-color: red;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 260px;
  transform: rotateY(180deg);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,.5);
